@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0 40px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background: #f2f2f2;
}

img {
  max-width: 100%;

  object-fit: contain;
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  display: inline-block;
  margin: 0;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #756157;
}

.button-light {
  background-color: #82b3d3;
}

.button-light:hover,
.button-light:focus {
  background-color: #68a2ca;
}

.button-light:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82b3d3;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
}

.button-transparent:focus {
  background-color: transparent;
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
  opacity: 1;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: transparent;
  box-shadow: none;
}

.button:disabled,
.button-disabled {
  color: #ffffff;

  background-color: #e5e5e5;
}

.button-transparent:disabled {
  color: rgba(255, 255, 255, 0.1);

  background-color: transparent;
}

.field {
  width: 100%;
  height: 48px;
  padding: 5px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans , sans-serif";
  color: #000000;

  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;

  appearance: none;
}

.field::placeholder {
  color: #000000;

  opacity: 0.6;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  background-color: #e6e6e6;
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.field:disabled {
  opacity: 0.3;

  pointer-events: none;
}

.field-valid {
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #7db54f;
}

.field-error {
  box-shadow: 0 0 0 2px #ff5757;
}

.page-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.page-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.header {
  position: relative;
  z-index: 1;

  display: grid;
  padding: 0 70px;

  gap: 28px;
  grid-template-columns: auto 1fr;
}

.logo {
  display: block;
  width: 140px;
  margin-bottom: -6;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto 0 0;
  padding: 0;

  list-style: none;
}

.navigation-link {
  display: inline-block;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current {
  text-decoration: underline;

  text-decoration-color: #756257;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 24px;
}

.menu-button {
  width: 160px;
  margin-top: 14px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px 0 auto;
  padding: 0;

  list-style: none;
}

.user-link {
  position: relative;

  display: block;
  width: 44px;
  min-height: 66px;

  text-align: right;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.user-link:hover {
  background-color: rgba(131, 179, 211, 0.2);
  opacity: 0.6;
}

.user-link:focus {
  background-color: rgba(131, 179, 211, 0.12);
  outline: none;
  opacity: 0.6;
}

.user-link:active {
  opacity: 0.3;
}

.user-link-search {
  background-image: url("../images/svg/search.svg");
}

.user-link-favorite {
  background-image: url("../images/svg/favorit.svg");
}

.user-link-favorites-num {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  margin: 25% 5px 5px;
  padding: 5px 2px;

  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-button {
  width: 160px;
  margin-top: 14px;
}

.hero {
  position: relative;

  padding: 50px 70px 80px;

  background-image: url("../images/divider.png"),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto, cover;
}

.hero img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.advantages-vision {
  padding: 70px 70px 90px;
}

.advantages-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  background-color: rgba(130, 179, 211, 0.2);
}

.advantages-item:not(.advantages-item-full):nth-child(2n) {
  background-color: rgba(130, 179, 211, 0.12);
}

.advantages-item-full {
  display: flex;
  flex-wrap: wrap;

  background-color: #82b3d3;

  grid-column: 1 / -1;
}

.advantages-item-reverse {
  flex-direction: row-reverse;
}

.advantages-img {
  max-width: 800px;
  margin: 0;
}

.advantages-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages-item-full {
  color: #ffffff;
}

.advantages-item-full .advantages-content {
  padding-top: 103px;
}

.advantages-subtitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.advantages-vision {
  padding: 70px 70px 90px;

  text-align: center;
}

.card-info {
  width: 100%;
  max-width: 400px;
  min-height: 385px;
  padding: 115px 80px 85px;

  text-align: center;
}

.block-title {
  margin: 0 0 30px;

  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.block-text {
  margin: 0;
}

.advantage-subtitle {
  position: relative;

  padding-bottom: 30px;
}

.advantage-subtitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.adavantages-item-full .advantage-subtitle {
  color: #ffffff;
}

.advantages-item-full .advantages-subtitle::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.block-text {
  margin: 0;
}

.service-theme {
  padding: 64px 70px;

  text-align: center;
}

.service-title {
  margin-bottom: 20px;
}

.service-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-template-columns: repeat(3, 1fr);
}

.service-item {
  padding-top: 184px;

  background-color: rgba(130, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-position: center 80px;
  background-size: 75px 72px;
}

.service-item:nth-child(2n) {
  background-color: #ffffff;
}

.service-item-house {
  background-image: url("../images/svg/service-house.svg");
}

.service-item-food {
  background-image: url("../images/svg/service-food.svg");
}

.service-item-souvenirs {
  background-image: url("../images/svg/service-souvenirs.svg");
}

.search {
  padding: 96px 70px;

  text-align: center;
}

.search-title {
  margin-bottom: 20px;
}

.search-text {
  margin-bottom: 54px;
}

.search-button {
  width: 376px;

  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 70px 104px;

  text-align: center;
}

.subscribe-home {
  color: #ffffff;

  background-color: #5c84ab;
  background-image: url("../images/rocktwo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-text {
  margin-bottom: 55px;
}

.subscribe-form {
  display: grid;
  align-items: start;
  width: 684px;
  margin: 0 auto;

  grid-template-columns: 1fr auto;
}

.subscribe-input {
  height: 100%;

  border-radius: 4px 0 0 4px;
}

.subscribe-input::placeholder {
  font-weight: 400;
}

.subscribe-button {
  width: 232px;

  font-size: 20px;

  border-radius: 0 4px 4px 0;
}

.filter {
  padding: 35px 70px 70px;

  color: #ffffff;

  background-color: #5c84ab;
  background-image: url("../images/index2catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-header {
  margin-bottom: 40px;
}

/*Каталог*/

.filter-main-title {
  margin: 0 0 7px;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 28px;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 25%;
  right: -25px;

  width: 10px;
  height: 10px;

  background-image: url("../images/svg/arrow-breadcrumbs.svg");
  background-repeat: no-repeat;
  transform: translate(-50%);
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-current {
  pointer-events: none;
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 19px;

  background-image: url("../images/svg/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;

  gap: 30px 70px;
}

.filter-group {
  max-width: 191px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter-group-range {
  width: 100%;
  max-width: 288px;
  margin-left: auto;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 56px;

  gap: 30px;
}

.filter-title {
  margin-bottom: 33px;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-list {
  display: grid;
  justify-content: start;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 16px;
}

.control-label {
  display: grid;
  align-items: start;
  width: fit-content;

  line-height: 23px;

  gap: 16px;
  grid-template-columns: repeat(2, auto);
}

.control-input {
  position: relative;

  width: 20px;
  height: 20px;
  margin: 0;

  background-color: #ffffff;
  border: none;
  border-radius: 4px;

  appearance: none;
}

.control-input[type="checkbox"]:checked {
  background-image: url("../images/svg/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 10px;
}

.control-input[type="radio"] {
  border-radius: 50%;
}

.control-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.control-input:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.control-input:active + .control-label,
.control-input:active {
  opacity: 0.3;
}

.range-input-container {
  display: grid;
  margin-bottom: 35px;

  gap: 2px;
  grid-template-columns: repeat(2, 1fr);
}

.range-item {
  position: relative;
}

.range-item label {
  position: absolute;
  right: 0;

  padding: 11px 20px;

  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.range-input {
  padding: 10px 55px 10px 20px;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;

  height: 20px;
}

.range-scale::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.3);
  transform: translateY(-50%);
}

.range-bar {
  position: absolute;
  top: 50%;
  z-index: 2;

  height: 4px;

  background-color: #ffffff;
  transform: translateY(-50%);
}

.range-toggle-btn {
  position: absolute;
  top: 50%;
  z-index: 2;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.range-toggle-btn-min {
  left: 0;
}

.range-toggle-btn-max {
  right: 0;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-finding {
  display: grid;
  align-items: center;
  margin-bottom: 39px;

  gap: 70px;
  grid-template-columns: 1fr auto auto;
}

.catalog-select {
  width: 292px;
  height: 49px;
  margin-left: auto;
  padding: 5px 40px 5px 18px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: transparent;
  background-image: url("../images/svg/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
  background-size: 12px 9px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  appearance: none;
}

.catalog-select:hover,
.catalog-select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #68a2ca;
}

.catalog-select:disabled {
  color: rgba(0, 0, 0, 0.3);

  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.view {
  display: grid;
  justify-content: end;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 8px;
  grid-template-columns: repeat(3, auto);
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link-tile {
  background-image: url("../images/svg/view-tile.svg");
}

.view-link-slideshow {
  background-image: url("../images/svg/view-slideshow.svg");
}

.view-link-list {
  background-image: url("../images/svg/view-list.svg");
}

.view-link-active:hover {
  border-color: #000000;
}

.view-link:focus {
  border-color: #68a2ca;
  outline: none;
}

.view-link-active:active {
  border-color: #000000;
}

.product-list {
  display: grid;
  margin: 0;
  padding: 0 0 40px;

  list-style: none;

  gap: 17px 20px;
  grid-template-columns: repeat(3, 1fr);
}

.product-card {
  display: grid;
  align-content: start;
  padding: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;

  gap: 16px 20px;
  grid-template-columns: repeat(2, 1fr);
}

.product-card-link {
  color: #000000;
  text-decoration: none;

  grid-column: 1 / -1;
}

.product-card-link img {
  display: block;
  width: 100%;
  margin-bottom: 17px;
}

.product-card-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card p {
  margin: 0;
}

.product-text + .product-text {
  text-align: right;
}

.product-favorites-active {
  background-color: #7db54f;
}

.product-rating-star {
  display: block;
  height: 37px;

  background-image: url("../images/svg/stars.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.product-rating-star-4 {
  width: 90px;
}

.product-rating-star-3 {
  width: 70px;
}

.product-rating-star-2 {
  width: 50px;
}

.product-rating-text {
  display: inline-block;
  padding: 9px 10px 8px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 39px 0 0;

  list-style: none;

  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  padding: 5px;

  font-weight: 700px;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;

  pointer-events: none;
}

.pagination-link-more {
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
  border-color: transparent;
}

.pagination-link:not(.pagination-link-more):hover,
.pagination-link:not(.pagination-link-more):focus {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 1px #82b3d3;
}

.footer {
  display: grid;
  align-items: start;
  padding: 45px 70px 32px;

  gap: 20px;
  grid-template-columns: auto 1fr auto;
}

.social {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-template-columns: repeat(3, auto);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 41px;

  color: #83b3d3;
}

.social-link:hover,
.social-link:focus {
  color: #68a2ca;
}

.social-link:active {
  opacity: 0.3;

  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  display: inline-block;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy {
  display: block;
  width: 115px;
  height: 34px;
  margin-top: 3px;

  color: #000000;
}

.htmlacademy:hover,
.htmlacademy:focus {
  color: #756157;
}

.htmlacademy:active {
  opacity: 0.3;
}
